* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

.workspaces {
  position: relative;
  width: 100%;
  height: 110vh;
  background: #1e1e1e;
}

.workspaces nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* margin: 0 auto; */
}

.workspaces nav .nav-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  width: 998px;
  padding: 23px 34px;
  /* flex: 2; */
  margin-left: 220px;
  background: #1d1e27;
  -webkit-box-shadow: 0px 5px 50px -30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 50px -30px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
}

.workspaces nav .nav-special .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspaces nav .nav-special .logo a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20.9389px;
  line-height: 29px;
  /* identical to box height, or 138% */
  padding-left: 10px;
  color: #f4f8fb;
}

.workspaces nav .nav-special .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspaces nav .nav-special .right-nav > img,
.workspaces nav .nav-special .right-nav a {
  padding-left: 22px;
}

.workspaces nav .nav-special .ws {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 13px;
  border-radius: 10px;
  background: #252735;
}

.workspaces nav .nav-special .ws h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14.4px;
  color: #f4f8fb;
  line-height: 43px;
  padding-right: 21px;
  cursor: pointer;
}

.workspaces nav .nav-special .ws h3 a {
  text-decoration: none;
  color: #f4f8fb;
  padding-left: 0 !important;
}

.workspaces nav .nav-special .ws .rec {
  padding-right: 21px;
  cursor: pointer;
}

.workspaces nav .nav-special .ws .pic {
  padding-right: 22px;
  cursor: pointer;
}

.workspaces nav .ht {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ff7877;
  padding: 8.5px 10px;
  border-radius: 7px;
  margin-right: 44px;
}

.workspaces nav .ht img {
  padding-right: 5px;
  padding-left: 1px;
  padding-top: 5px;
  width: 23.17px;
  height: 18.54px;
}

.workspaces nav .ht h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13.3696px;
  line-height: 26px;
}

.workspaces nav .ht h3 a {
  color: #fff;
}

.workspaces .workspaces-body .elispe {
  margin-left: 62px;
  margin-top: 50px;
}

.workspaces .workspaces-body .elispe .elps {
  padding-bottom: 9px;
  padding-left: 18px;
}

.workspaces .workspaces-body .elispe .h3 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.workspaces .workspaces-body .elispe .h3 h3 {
  text-align: center;
  line-height: 27px;
  background: #252735;
  -webkit-box-shadow: 0px 12.5273px 48.1818px -8.67273px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 12.5273px 48.1818px -8.67273px rgba(0, 0, 0, 0.2);
  border-radius: 10.0952px;
  width: 135px;
  height: 28px;
  padding: 2px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12.4px;
}

.workspaces .workspaces-body .elispe .h3 h3 a {
  text-decoration: none;
  color: #f4f8fb;
}

.workspaces .workspaces-body .projects .my-project {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 294px;
  height: 157px;
  left: 226px;
  top: 127px;
  background: #1d1e27;
  border: 1px solid #2e344e;
  border-radius: 10px;
}

.workspaces .workspaces-body .projects .create-project {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 185px;
  height: 157px;
  left: 536px;
  top: 127px;
  background: #1d1e27;
  border: 1.6px dashed #4c70ff;
  border-radius: 10px;
}

.create {
  width: 988px;
  height: 560px;
  background: #1d1e27;
  border-radius: 20px;
  margin-bottom: 100px;
}

.create h1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 44px;
}

.create form h3 {
  padding-bottom: 12px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14.6858px;
  line-height: 15px;
  color: #f4f8fb;
}

.create form input {
  width: 657px;
  height: 51.57px;
  background: #171821;
  border: 1.04899px solid rgba(235, 235, 235, 0.07);
  -webkit-box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
  border-radius: 5.24494px;
  outline: none;
  padding: 10px;
  margin-bottom: 44px;
}

.create form .join-input h3 {
  padding-bottom: 25px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14.6858px;
}

.create form .join-input h3 a {
  color: #4c70ff;
  text-decoration: none;
}

.create form .join-input input {
  width: 307.49px;
  height: 50.57px;
  background: #171821;
  border: 1.04899px solid rgba(235, 235, 235, 0.07);
  -webkit-box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
  border-radius: 5.24494px;
  outline: none;
  margin-right: 20px;
}

.create form .join-input .in-2 {
  width: 307.49px;
  height: 50.57px;
  background: #171821;
  border: 1.04899px solid rgba(235, 235, 235, 0.07);
  -webkit-box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
  border-radius: 5.24494px;
  outline: none;
}

.create .buttons img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 10px;
  padding-right: 9px;
}

.create .buttons .btn-back {
  height: 0.1px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14.8345px;
  background: none;
  border: none;
  line-height: 7px;
  padding-right: 47px;
}

.create .buttons .btn-back a {
  color: #6c6f92;
}

.create .buttons .btn-create {
  width: 184.48px;
  height: 45.41px;
  background: #4c70ff;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14.8345px;
  color: #fff;
}

.create .buttons .btn-create a {
  color: #fff;
}
