* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

.workspaces {
  position: relative;
  width: 100%;
  height: 110vh;
  background: #1e1e1e;
}

.workspaces nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* margin: 0 auto; */
}

.workspaces nav .nav-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  width: 998px;
  padding: 23px 34px;
  /* flex: 2; */
  margin-left: 220px;
  background: #1d1e27;
  -webkit-box-shadow: 0px 5px 50px -30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 50px -30px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
}

.workspaces nav .nav-special .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspaces nav .nav-special .logo a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20.9389px;
  line-height: 29px;
  /* identical to box height, or 138% */
  padding-left: 10px;
  color: #f4f8fb;
}

.workspaces nav .nav-special .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspaces nav .nav-special .right-nav > img,
.workspaces nav .nav-special .right-nav a {
  padding-left: 22px;
}

.workspaces nav .nav-special .ws {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 13px;
  border-radius: 10px;
  background: #252735;
}

.workspaces nav .nav-special .ws h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14.4px;
  color: #f4f8fb;
  line-height: 43px;
  padding-right: 21px;
  cursor: pointer;
}

.workspaces nav .nav-special .ws h3 a {
  text-decoration: none;
  color: #f4f8fb;
  padding-left: 0 !important;
}

.workspaces nav .nav-special .ws .rec {
  padding-right: 21px;
  cursor: pointer;
}

.workspaces nav .nav-special .ws .pic {
  padding-right: 22px;
  cursor: pointer;
}

.workspaces nav .ht {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ff7877;
  padding: 8.5px 10px;
  border-radius: 7px;
  margin-right: 44px;
}

.workspaces nav .ht img {
  padding-right: 5px;
  padding-left: 1px;
  padding-top: 5px;
  width: 23.17px;
  height: 18.54px;
}

.workspaces nav .ht h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13.3696px;
  line-height: 26px;
}

.workspaces nav .ht h3 a {
  color: #fff;
}

.workspaces .workspaces-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.workspaces .workspaces-body .elispe {
  margin-left: 62px;
  margin-top: 50px;
}

.workspaces .workspaces-body .elispe .elps {
  padding-bottom: 9px;
  padding-left: 18px;
}

.workspaces .workspaces-body .elispe .h3 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.workspaces .workspaces-body .elispe .h3 h3 {
  text-align: center;
  line-height: 27px;
  background: #252735;
  -webkit-box-shadow: 0px 12.5273px 48.1818px -8.67273px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 12.5273px 48.1818px -8.67273px rgba(0, 0, 0, 0.2);
  border-radius: 10.0952px;
  width: 135px;
  height: 28px;
  padding: 2px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12.4px;
}

.workspaces .workspaces-body .elispe .h3 h3 a {
  text-decoration: none;
  color: #f4f8fb;
}

.workspaces .workspaces-body .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 48px;
  margin-top: 36px;
}

.workspaces .workspaces-body .projects .my-project {
  display: block;
  width: 294px;
  height: 157px;
  background: #1d1e27;
  border: 1px solid #2e344e;
  border-radius: 10px;
  margin-right: 16px;
}

.workspaces .workspaces-body .projects .my-project .p-items {
  padding-left: 30px;
  padding-top: 22px;
}

.workspaces .workspaces-body .projects .my-project .p-items img {
  padding-bottom: 15px;
}

.workspaces .workspaces-body .projects .my-project .p-items h3 {
  padding-bottom: 7px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  color: #fff;
}

.workspaces .workspaces-body .projects .my-project .p-items h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
  color: #5e6281;
}

.workspaces .workspaces-body .projects .create-project {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 185px;
  height: 157px;
  background: #1d1e27;
  border: 1.6px dashed #4c70ff;
  border-radius: 10px;
}

.workspaces .workspaces-body .projects .create-project .p-items2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspaces .workspaces-body .projects .create-project .p-items2 img {
  margin-top: 34px;
  margin-bottom: 16px;
}

.workspaces .workspaces-body .projects .create-project .p-items2 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.workspaces .workspaces-body .projects .create-project .p-items2 h3 a {
  color: #3b3d53;
}

.create {
  margin: 79px auto;
  width: 988px;
  height: 560px;
  background: #1d1e27;
  border-radius: 20px;
  margin-bottom: 10px;
}

.create h1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  padding: 44px 0;
}

.create .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create .form h3 {
  padding-bottom: 12px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14.6858px;
  color: #f4f8fb;
}

.create .form input {
  width: 657px;
  height: 51.57px;
  background: #171821;
  border: 1.04899px solid rgba(235, 235, 235, 0.07);
  -webkit-box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
  border-radius: 5.24494px;
  outline: none;
  padding: 10px;
  margin-bottom: 44px;
}

.create .form .join-input h3 {
  padding-bottom: 25px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14.6858px;
}

.create .form .join-input h3 a {
  color: #4c70ff;
  text-decoration: none;
}

.create .form .join-input input {
  width: 307.49px;
  height: 50.57px;
  background: #171821;
  border: 1.04899px solid rgba(235, 235, 235, 0.07);
  -webkit-box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
  border-radius: 5.24494px;
  outline: none;
  margin-right: 20px;
}

.create .form .join-input .in-2 {
  width: 307.49px;
  height: 50.57px;
  background: #171821;
  border: 1.04899px solid rgba(235, 235, 235, 0.07);
  -webkit-box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
  border-radius: 5.24494px;
  outline: none;
}

.create .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create .buttons .img-btn {
  margin-left: 53px;
}

.create .buttons img {
  width: 35px;
  height: 10px;
  padding-top: 3.4px;
  padding-right: 10px;
}

.create .buttons .btn-back {
  height: 0.1px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14.8345px;
  background: none;
  border: none;
  line-height: 7px;
}

.create .buttons .btn-back a {
  color: #6c6f92;
}

.create .buttons .btn-create {
  width: 184.48px;
  height: 45.41px;
  background: #4c70ff;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14.8345px;
  color: #fff;
  margin-left: 50px;
}

.create .buttons .btn-create a {
  color: #fff;
}

.dropbtn {
  color: white;
  padding: 19px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 154px;
  overflow: auto;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
  z-index: 1;
  background: #252735;
  border-radius: 8px;
}

.dropdown-content h5 {
  color: white;
  padding-left: 17px;
  padding-right: 26px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
  border-bottom: 1px solid #3b3d53;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
}

.dropdown-content .sign-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-content .sign-out .SO-link {
  border: none;
  padding-bottom: 7px;
}

.dropdown-content .sign-out img {
  padding: 10px;
  cursor: progress;
}

.dropdown-content a {
  color: #3b3d53;
  padding-bottom: 6px;
  padding-top: 6px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #3b3d53;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.show {
  display: block;
}

.onboarding {
  height: 130vh;
}

.onboarding .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 46px;
}

.onboarding .logo a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20.9389px;
  padding-left: 10px;
  color: #f4f8fb;
}

.onboarding .onboarding-project {
  margin-top: 35.3px;
  width: 1132px;
  height: 777px;
  background: linear-gradient(230deg, rgba(76, 110, 251, 0.2) 2.1%, rgba(29, 30, 39, 0) 23.06%), #1d1e27;
  border-radius: 20px;
}

.onboarding .onboarding-project h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15.7407px;
  line-height: 15px;
  padding-bottom: 15.5px;
}

.onboarding .onboarding-project .form input {
  width: 557.22px;
  height: 49.52px;
  background: #171821;
  border: 1.04938px solid rgba(235, 235, 235, 0.12);
  -webkit-box-shadow: 0px 19.9383px 41.9753px -16.7901px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 19.9383px 41.9753px -16.7901px rgba(0, 0, 0, 0.1);
  border-radius: 5.24691px;
  margin-bottom: 44px;
}

.onboarding .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.onboarding .btn .btn1 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 133px;
  height: 48px;
  background: #171821;
  border: 0.51352px solid rgba(210, 210, 210, 0.17);
  border-radius: 5.33032px;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #7d7d7d;
}

.onboarding .btn .btn1:hover {
  background: #4c70ff;
  color: white;
}

.onboarding .btn .btn1 img {
  padding-right: 11px;
}

.onboarding .btn .btn1 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15.6806px;
  line-height: 7px;
}

.onboarding .btn .btn2 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 133px;
  height: 48px;
  background: #171821;
  border: 0.51352px solid rgba(210, 210, 210, 0.17);
  border-radius: 5.33032px;
  color: #7d7d7d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.onboarding .btn .btn2:hover {
  background: #4c70ff;
  color: white;
}

.onboarding .btn .btn2 img {
  padding-right: 11px;
}

.onboarding .btn .btn2 h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15.6806px;
  line-height: 7px;
}

.onboarding .btn .btn22 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 133px;
  height: 48px;
  background: #4c70ff;
  border: 0.51352px solid rgba(210, 210, 210, 0.17);
  border-radius: 5.33032px;
  color: #e5e2e2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.onboarding .btn .btn22:hover {
  color: white;
}

.onboarding .onboarding-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  grid-gap: 18.2px;
  padding: 52px 72px;
}

.onboarding .onboarding-grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 183.38px;
  height: 177.02px;
  background: #171821;
  border-radius: 6.59915px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.onboarding .onboarding-grid div:hover {
  border: 1px solid #4c70ff;
}

.onboarding .onboarding-grid div:hover .aud {
  background: #4c70ff;
}

.onboarding .onboarding-grid div .aud {
  border-radius: 50%;
  width: 87.98px;
  height: 87.98px;
  background: #252735;
  margin-bottom: 24.8px;
}

.onboarding .onboarding-grid div h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13.8257px;
  line-height: 15px;
  color: #f4f8fb;
}

.onboarding .btnn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.onboarding .btnn .btn-create {
  width: 184.48px;
  height: 45.41px;
  background: #4c70ff;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14.8345px;
  color: #fff;
  margin-left: 50px;
}

.onboarding .btnn .btn-create a {
  color: #fff;
}
