$bg-color: #1e1e1e;
$use-color: #4c70ff;

* {
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
	}
}

.workspaces {
	position: relative;
	width: 100%;
	height: 110vh;
	background: $bg-color;

	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		/* margin: 0 auto; */

		.nav-special {
			display: flex;
			justify-content: space-between;
			height: 45px;
			width: 998px;
			padding: 23px 34px;
			/* flex: 2; */
			margin-left: 220px;
			background: #1d1e27;
			box-shadow: 0px 5px 50px -30px rgba(0, 0, 0, 0.2);
			border-radius: 0px 0px 20px 20px;

			.logo {
				display: flex;
				align-items: center;
				a {
					font-family: "Poppins";
					font-style: normal;
					font-weight: 600;
					font-size: 20.9389px;
					line-height: 29px;
					/* identical to box height, or 138% */
					padding-left: 10px;
					color: #f4f8fb;
				}
			}
			.right-nav {
				display: flex;
				align-items: center;
				& > img,
				a {
					padding-left: 22px;
				}
			}
			.ws {
				display: flex;
				align-items: center;
				padding: 7px 13px;
				border-radius: 10px;
				background: #252735;

				h3 {
					font-family: "Poppins";
					font-weight: 400;
					font-size: 14.4px;
					color: #f4f8fb;
					line-height: 43px;
					// padding-left: 13px;
					padding-right: 21px;
					cursor: pointer;

					a {
						text-decoration: none;
						color: #f4f8fb;
						padding-left: 0 !important;
					}
				}

				.rec {
					padding-right: 21px;
					cursor: pointer;
				}
				.pic {
					padding-right: 22px;
					cursor: pointer;
				}
			}
		}
		.ht {
			display: flex;
			background: #ff7877;
			padding: 8.5px 10px;
			border-radius: 7px;
			margin-right: 44px;

			img {
				padding-right: 5px;
				padding-left: 1px;
				padding-top: 5px;
				width: 23.17px;
				height: 18.54px;
			}
			h3 {
				font-family: "Poppins";
				font-style: normal;
				font-weight: 400;
				font-size: 13.3696px;
				line-height: 26px;

				a {
					color: #fff;
				}
			}
		}
	}

	// WORKSPACE BODY
	.workspaces-body {
		display: flex;

		.elispe {
			margin-left: 62px;
			margin-top: 50px;

			.elps {
				padding-bottom: 9px;
				padding-left: 18px;
			}

			.h3 {
				justify-content: flex-start;
				position: relative;

				h3 {
					text-align: center;
					line-height: 27px;
					background: #252735;
					box-shadow: 0px 12.5273px 48.1818px -8.67273px rgba(0, 0, 0, 0.2);
					border-radius: 10.0952px;
					width: 135px;
					height: 28px;
					padding: 2px;
					font-family: "Poppins";
					font-weight: 400;
					font-size: 12.4px;

					a {
						text-decoration: none;
						color: #f4f8fb;
					}
				}
			}
		}

		// HOME
		.projects {
			display: flex;
			margin-left: 48px;
			margin-top: 36px;

			.my-project {
				display: block;
				width: 294px;
				height: 157px;
				background: #1d1e27;
				border: 1px solid #2e344e;
				border-radius: 10px;
				margin-right: 16px;

				.p-items {
					padding-left: 30px;
					// padding-bottom: 13px;
					padding-top: 22px;

					img {
						padding-bottom: 15px;
					}
					h3 {
						padding-bottom: 7px;
						font-family: "Poppins";
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 29px;
						color: #fff;
					}
					h4 {
						font-family: "Poppins";
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 29px;
						color: #5e6281;
					}
				}
			}
			.create-project {
				box-sizing: border-box;
				width: 185px;
				height: 157px;
				background: #1d1e27;
				border: 1.6px dashed $use-color;
				border-radius: 10px;

				.p-items2 {
					display: flex;
					flex-direction: column;
					align-items: center;

					img {
						margin-top: 34px;
						margin-bottom: 16px;
					}
					h3 {
						font-family: "Poppins";
						font-style: normal;
						font-weight: 500;
						font-size: 15px;
						line-height: 20px;
						text-align: center;
						color: #3b3d53;
					}
				}
			}
		}
	}
}
// END OF WORKSPACE

// CREATE
.create {
	margin: 79px auto;
	width: 988px;
	height: 560px;
	background: #1d1e27;
	border-radius: 20px;
	margin-bottom: 10px;

	h1 {
		font-family: "Poppins";
		font-weight: 400;
		font-size: 22px;
		color: #ffffff;
		text-align: center;
		padding: 44px 0;
	}

	.form {
		display: flex;
		align-items: center;
		justify-content: center;

		h3 {
			padding-bottom: 12px;
			font-family: "Poppins";
			font-weight: 400;
			font-size: 14.6858px;
			color: #f4f8fb;
		}
		input {
			width: 657px;
			height: 51.57px;
			background: #171821;
			border: 1.04899px solid rgba(235, 235, 235, 0.07);
			box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
			border-radius: 5.24494px;
			outline: none;
			padding: 10px;
			margin-bottom: 44px;
		}

		.join-input {
			h3 {
				padding-bottom: 25px;
				font-family: "Poppins";
				font-weight: 400;
				font-size: 14.6858px;

				a {
					color: $use-color;
					text-decoration: none;
				}
			}
			input {
				width: 307.49px;
				height: 50.57px;
				background: #171821;
				border: 1.04899px solid rgba(235, 235, 235, 0.07);
				box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
				border-radius: 5.24494px;
				outline: none;
				margin-right: 20px;
			}
			.in-2 {
				width: 307.49px;
				height: 50.57px;
				background: #171821;
				border: 1.04899px solid rgba(235, 235, 235, 0.07);
				box-shadow: 0px 0px 41.9595px -16.7838px rgba(0, 0, 0, 0.1);
				border-radius: 5.24494px;
				outline: none;
			}
		}
	}

	.buttons {
		display: flex;
		align-items: center;
		justify-content: center;

		.img-btn {
			margin-left: 53px;
		}

		img {
			width: 35px;
			height: 10px;
			padding-top: 3.4px;
			padding-right: 10px;
		}

		.btn-back {
			height: 0.1px;
			font-family: "Poppins";
			font-weight: 400;
			font-size: 14.8345px;
			background: none;
			border: none;
			line-height: 7px;
			// margin-right: 50px;

			a {
				color: #6c6f92;
			}
		}

		.btn-create {
			width: 184.48px;
			height: 45.41px;
			background: #4c70ff;
			border-radius: 6px;
			font-family: "Poppins";
			font-style: normal;
			font-weight: 400;
			font-size: 14.8345px;
			color: #fff;
			margin-left: 50px;

			a {
				color: #fff;
			}
		}
	}
}
// END OF CREATE
